* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.layout {
    max-width: 1200px;
    margin: auto;
    background-color: #F8F8F8;
}

.menu {
    display: flex;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.menu li {
    display: inline-block;
    margin: 0 20px;

}

.menu li a {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.menu li a:hover {
    color: burlywood;
}

.ads {
    width: 1200px;
    background-color: black;
    text-align: center;
    padding: 5px 0px;
    color: white;

}

.banner {
    text-align: center;
    margin-top: 10px;
}

.content {
    background-color: rgb(223, 214, 214);
    width: 1000px;
    margin: auto;
    border-radius: 20px;
}

.content h2 {
    text-align: center;
    font-weight: normal;
    margin-top: 20px;
    padding: 20px;

}

.content_flex {
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
    text-align: center;
}

.content_flex h4 {
    margin-top: 15px;
}

.content_top {
    text-align: center;
    margin-top: 10px;
}

.content_main {
    display: flex;

}

.content_main1 {
    margin-top: 10px;
}

.content_main2 {
    margin-top: 30px;
    margin-left: 250px;
}

.footer {
    margin-top: 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;

}

h5 {
    text-align: center;
    padding-top: 30px;
}

p {
    color: red;
}

.giay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.giay1 img {
    width: 370px;
    margin: 10px;

}

.banner2 {
    text-align: center;
}

.slideshow {
    text-align: center;
}

.map {
    text-align: center;
    margin-top: 30px;
}

.facebook {
    background-color: rgb(223, 214, 214);
    width: 1000px;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid black;
    margin-left: 95px;
    text-align: center;


}

.instagram {
    margin-left: 95px;
    margin-top: 30px;
    background-color: rgb(223, 214, 214);
    width: 1000px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
}

.giay1 h6 {
    font-size: 14px;
}

.sreach button:hover {
    background-color: rgb(177, 145, 221);
}

.giay1 {
    position: relative;
}

.anh16 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
}

.text {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.giay1:hover .anh16 {
    opacity: 0.3;

}

.giay1:hover .text {
    opacity: 1;

}

.icon {
    background-color: beige;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    padding-top: 4px;


}

.icon button {
    border: none;
    margin: 0 10px;
}

.all {
    display: flex;

}

.abc {
    margin-right: 100px;
}

.nut_abc {
    margin-top: 40px;
    display: flex;

}

.nut_abc button {
    width: 170px;
    height: 40px;
    margin: 0 7px;
    border: none;

}

#nut_abc1 {
    background-color: #c9192e;
    color: #F8F8F8;
}

#nut_abc2 {
    background-color: #c9192e;
    color: #F8F8F8;
}

.tensp {
    border-radius: 10px;
    background-color: rgb(170, 215, 228);
    width: 50px;
    height: 40px;

}

.tensp a {
    color: black;
    text-decoration: none;
}

.khungsp {
    display: flex;
    margin: 0 30px;
}

.sph6 {
    margin: 0 30px;
}

.spp {
    margin: 0 30px;
}
.tensp:hover{
    background-color: #c9192e;
}
.tensp a:hover{
    color: #F8F8F8;
}
.main  {
    
    width: 70%;
   
}
.sider-bar 
{   
    width: 30%;
}
.display-flex{display: flex;}

.ban-hang{
    background-color: #fff;
    border-radius: 5px;
    margin: 55px 10px;
    min-height: 600px;
    padding: 25px;
}

/*  css cho bài Bảng Bán Hàng  */

/* .ban-hang {width: 600px; margin:0px auto;position: relative;} */
.giohang {
    position: fixed;
    border-radius: 10px;
    right: 20px;
    top: 20px;
    height: 60px;
    background-image: linear-gradient(#F90, #F60);
    padding: 10px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    margin: 0 auto;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
  
  }
  
  .modal-body {
    padding: 1rem;
  }
  
  .modal-footer {
    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
  }
  
  .modal-footer>:not(:first-child) {
    margin-left: .25rem;
  }
  
  .btn {
    cursor: pointer;
    outline: none;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
  }
  
  .btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
  }
  
  .modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 1rem;
  }
  
  h5.modal-title {
    font-size: 1.5rem;
  }
  
  .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  #cart {
    font-size: 15px;
    color: #fff;
    background: #c7b200;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    margin-left: 1rem;
    padding: 12px;
    cursor: pointer;
  }
  
  #cart:hover {
    border-color: #fff;
  }
  .cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
  }
  
  .cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .cart-row {
    display: flex;
  }
  
  .cart-item {
    width: 60%;
  }
  
  .cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
  }
  
  .cart-quantity {
    width: 35%;
  }
  
  .cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
  }
  
  .cart-item-image {
    width: 20%;
    
    border-radius: 10px;
  }
  
  .btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
  }
  
  .btn-danger:hover {
    background-color: #CC4C4C;
  }
  
  .cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
  }
  
  .cart-row:last-child {
    border-bottom: 1px solid black;
  }
  
  .cart-row:last-child .cart-column {
    border: none;
  }
  
  .cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
  }
  
  .cart-total-price {
    color: #333;
    font-size: 1.1em;
  }
  .wrapper {
    padding: 2rem;
  }
  
  .products ul {
    display: inline-block;
  }
  
  .products ul .main-product {
    margin-bottom: 2rem;
    margin-right: 1rem;
    display: block;
    float: left;
    width: 32%;
  }
  
  .products ul .no-margin {
    margin-right: 0;
  }
  
  .products ul .img-product img {
    width: 100%;
  }
  
  .content-product .content-product-h3 {
    padding: .5rem 0;
    overflow: hidden;
    color: #222;
    font-weight: 500;
    font-size: 16px;
    max-height: 50px;
    min-height: 50px;
    text-align: center;
    line-height: 19px;
    margin: 0 0 5px;
  }
  
  .content-product .content-product-deltals {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
  
  .main-product .content-product .content-product-deltals .price {
    color: red;
    font-weight: 700;
    margin-right: 1rem;
    vertical-align: middle;
    font-size: 20px;
  }
  
  .content-product .content-product-deltals .price .money {
    vertical-align: middle;
  }
  
  .content-product .content-product-deltals .btn-cart {
    background: #f1df11;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
  }
  
  .content-product .content-product-deltals .btn-cart:hover {
    background: #c7b200;
  }
  
  /* footer */
  .footer-item {
    padding: .5rem 2rem;
    background: #f1df11;
    display: flex;
  
  }
  
  .footer-item .img-footer {
    align-items: center;
    display: flex;
  }
  
  .footer-item .img-footer img {
    width: 100%;
  }
  
  .footer-item .social-footer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
  }
  
  .footer-item .social-footer li a {
    color: #000000;
    font-size: 2rem;
  }
  
  .footer-item .social-footer li:last-child {
    margin-left: .5rem;
  }
  .img-product {
    position: relative;
    width: 100%;
  }
  
  .img-prd {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
  }
  
  .icon {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  
  .img-product:hover .img-prd {
    opacity: 0.3;
  
  }
  
  .img-product:hover .icon {
    opacity: 1;
  }
  
  .icon i {
    border: none;
  }
  .mchitiet{
    margin-left: 20px;
    
  }
  .mchitiet button{
    padding: 10px;
    background-color: #EB5757;
    border-radius: 2px ;
    border: 1px solid#EB5757 ;
  }
  .mchitiet:hover{
    background-color: #c7b200;
  }
   .mchitiet button:hover{
    background-color: #c7b200;
   }